@media (max-width: 576px) {
    body {
        /* background: url(../images/pattern-background-mobile.svg) no-repeat top / contain; */
        display: flex;
        justify-content: center;
        align-items: center;
    }
}